<!DOCTYPE html>
<html>
  <head>
    <title>Mystist</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mystist</h1>
    <p>Welcome to Mystist</p>

    <p>
      <a href="/?date=<%- moment(date).add(1, 'day').utcOffset('+0800').format('YYYY-MM-DD') %>"><<<<<<</a>
      <%- moment(date).utcOffset('+0800').format('YYYY-MM-DD') %>
      <a href="/?date=<%- moment(date).add(-1, 'day').utcOffset('+0800').format('YYYY-MM-DD') %>">>>>>>></a>
    </p>

    <ul>
      <% feeds.forEach(function (feedObj) { %>
        <li>
          <a target="_blank" href="<%- feedObj.feed.link %>"><%= feedObj.feed.title %></a>
          [<%- feedObj.source %>]
          <small><i><%- moment(feedObj.feed.date).utcOffset('+0800') %></i></small>
        </li>
      <% }); %>
    </ul>

  </body>
</html>
